{% extends "layout.html" %}

{% block title %}
    Notification Templates
{% endblock %}

{% block main %}
    <form action="{{ url_for('notification_templates') }}" method="post">
        <fieldset>
            <table style="width:100%">
                Current Templates
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Message Text</th>
                <th>Message Delay</th>
                {% for k in templates %}
                <tr>
                    <td>{{k["id"]}}</td>
                    <td>{{k["name"]}}</td>
                    <td>{{k["description"]}}</td>
                    <td>{{k["message_text"]}}</td>
                    <td>{{k["delay_seconds"]}}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="form-group">
                <a class="btn btn-primary" href="{{ url_for('new_template') }}" roll="button">New Template</a>
            </div>

        </fieldset>
    </form>
{% endblock %}
